* {font-family: Mont, sans-serif;
    max-width: 100vw;
    color: white;
}
@font-face {
    font-family: Mont;
    src: url(../fonts/Mont-HeavyDEMO.otf);
    font-weight: bold;
}
@font-face {
    font-family: Mont;
    src: url(../fonts/Mont-ExtraLightDEMO.otf);
    font-weight: normal;
}
@font-face {
    font-family: JetBrains Mono;
    src: url(../fonts/JetBrainsMono-Regular.woff2);
    font-weight: normal;
}
@font-face {
    font-family: Hack;
    src: url(../fonts/Hack-Regular.ttf);
    font-weight: normal;
}
:root {
    --purple: rgb(100, 28,255);
    --ltblue: hsla(197, 100%, 63%, 1);
    --red: #FF2F00;
    --green: #59d102;
    --pink: hsla(294, 100%, 55%, 1);
    --teal: rgb(0, 255,150);
    --dkpink: rgb(203, 28,255);
    --orange: #FF9D00;

}
body{
    background-color: #1A1A1A;
    margin: 0;
}
h2{
    font-size: 10em;
    position: absolute;
    opacity: 20%;
    margin-top: 0;
}
.overlay{
    rotate: 60deg;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: white;
    opacity: 5%;
    top: 0;
    left: -50em;
    overflow: hidden;

}
.name{
    display: flex;
    flex-direction: column;
    bottom: 20vh;
}
.name h2{
    font-family: "JetBrains Mono";
    margin: auto;
    font-size: 1.25em;
    position: relative;
    opacity: 100%;
}
.name h1{
    letter-spacing: .5em;
    margin: auto;
    font-size: 3em;
}
p{
    font-family: "JetBrains Mono";
}
h1{
    font-family: Mont, sans-serif;
}
.logo{
    height: 30vh;
    margin: 20vh auto 15vh;
}
#homeDisplay{
    display: flex;
    flex-direction: column;
    height: 95vh;
}
.content{
    padding: 10vh 5vw;
}

.gradient{
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
}

footer{
    padding-bottom: 5vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
}
footer p{
    margin: auto;
}
.about{
    display: flex;
    margin-top: 10em;
}
.imageDiv img{
    width: 30vw;
    border-radius: 1em;
}

.imageDiv{
    display: flex;
    flex-direction: column;
}
.imageDiv p{
    text-align: center;
    font-size: small;
    margin: auto;
    margin-top: 1em;
}
.about p{
    margin-right: 2em;
}
.projects{
    margin-top: 10em;
    display: flex;
    flex-wrap: wrap;

}
.project{
    width: max(25vw, 20em);
    text-decoration: none;
    margin: 1em auto;
    padding: 1em;
    outline: white solid 3px;
    border-radius: 1em;
    transition: width .25s ease-out;
    display: flex;
    flex-direction: column;
}
.projectLink{
    margin: auto;
    text-decoration: none;
    border-radius: .5em;
    padding: .5em 1em;
    width: 80%;
    background: hsla(197, 100%, 63%, 1);
    text-align: center;
}

.project h3{
    text-transform: uppercase;
}
.language{
    border-radius: .5em;
    padding: .5em 1em;
    width: min-content;
    margin: .1em;
    background: var(--teal);
    color: white;
    font-family: Mont;
    font-weight: bold;
    font-size: small;
}
.languages{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
#Python{
    background: var(--green);
}
#Swift{
    background: var(--pink);
}
#PHP{
    background: var(--purple);
}
#HTML{
    background: var(--orange);
}
#JavaScript{
    background: var(--red);
}
#CSS{
    background: var(--ltblue);
}
