.about {
	flex-direction: column;
}
.about p {
	font-size: smaller;
}
.imageDiv img {
	width: 60vw;
	margin: auto;
}
.imageDiv p {
	margin: 0.5em auto auto;
}
.project {
	height: auto;
	padding: 0 1em;
	margin: 1em 0;
	font-size: smaller;
}
.projectLinks {
	margin-bottom: 2em;
}
h2 {
	opacity: 40%;
	font-size: 12vw;
}
