* {font-family: "Integral CF", sans-serif;
    max-width: 100vw;
    color: white;
}
@font-face {
    font-family: "Integral CF";
    src: url(../fonts/integral/IntegralCF-Regular.woff);
    font-weight: normal;
}
@font-face {
    font-family: integral-regular;
    src: url(../fonts/integral/IntegralCF-Bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: JetBrains Mono;
    src: url(../fonts/JetBrainsMono-Regular.woff2);
    font-weight: normal;
}

:root {
    --purple: #9900ff;
    --ltblue: #00ffff;
    --red: #FF0000;
    --green: #00ff00;
    --pink: #ff00ff;
    --teal: rgb(0, 255,150);
    --yellow: #ffff00;
    --blue: #0000ff;
    --grey: #1A1A1A

}
body{
    background-color: var(--grey);
    margin: 0;
}
h2{
    font-size: 10vw;
    position: absolute;
    opacity: 25%;
    margin-top: 0;
}
.overlay{
    rotate: 60deg;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: white;
    opacity: 5%;
    top: 0;
    left: -50em;
    overflow: hidden;

}
.name{
    display: flex;
    flex-direction: column;
    bottom: 20vh;
}
.name h2{
    font-family: "JetBrains Mono";
    margin: auto;
    font-size: 1.25em;
    position: relative;
    opacity: 100%;
    text-align: center;
}
.name h1{
    letter-spacing: .5em;
    margin: auto;
    font-size: 3vw;
}
.name br{
    display: none;
}
p{
    font-family: "JetBrains Mono";
}
h1{
    font-family: "Integral CF", sans-serif;
}
.logo{
    height: 30vh;
    margin: 20vh auto 15vh;
}
#homeDisplay{
    display: flex;
    flex-direction: column;
    height: 95vh;
}

body {
    background: #222;
}

.arrow {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}


.arrow-one {
    animation: arrow-movement 2s ease-in-out infinite;
}
.arrow-two {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: 40vh;
    left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 45%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.content{
    padding: 10vh 5vw;
}

.gradient{
    background: linear-gradient(90deg, var(--ltblue) 0%, var(--pink) 100%);
}

footer{
    padding-bottom: 5vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
}
footer p{
    margin: auto;
}
.about{
    display: flex;
    margin-top: 10vw;
}
.about p{
}
.imageDiv img{
    width: 30vw;
    border-radius: 1em;
}

.imageDiv{
    display: flex;
    flex-direction: column;
}
.imageDiv p{
    text-align: center;
    font-size: small;
    margin: auto;
    margin-top: 1em;
}
.about p{
    margin-right: 2em;
}
.projects{
    margin-top: 10em;
    display: flex;
    flex-wrap: wrap;

}
.project{
    width: max(25vw, 20em);
    text-decoration: none;
    margin: 1em;
    border: white solid 3px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    transition: all .25s ease;
    position: relative;
    overflow: hidden;
    padding: 1em 2em;
}

.projectLink{
    text-decoration: none;
    border-radius: .5em;
    padding: .5em 1em;
    width: 80%;
    text-align: center;
    margin: 1em auto auto;
}



.project h3{
    text-transform: uppercase;
    font-size: 2em;
    transition: all .5s ease;
}
.projectLink{
    opacity: 50%;
    transition: all .5s ease;
}
@media (min-width: 800px) {


    .projectLink:hover {
        opacity: 100%;
    }

    .project:hover h3 {
        font-size: 1.5em;
    }

    .project:hover .language {
        padding: .25em .5em;
    }
}
.tools{
    font-family: "Integral CF",sans-serif;
    font-size: small;
    margin-top: 0;
}
.language{
    border-radius: 2em;
    padding: .5em 1em;
    width: min-content;
    margin: .1em;
    background: var(--teal);
    color: var(--grey);
    font-family: "Integral CF";
    font-size: small;
    transition: all .5s ease;
}
.languages{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
#Python{
    background: var(--green);
}
#Swift{
    background: var(--pink);
}
#PHP{
    background: var(--purple);
}
#HTML{
    background: var(--yellow);
}
#JavaScript{
    background: var(--red);
}
#CSS{
    background: var(--ltblue);
}
