.skill {
    background-color: var(--teal);
    border-radius: 4px;
    height: 2em;
    display: flex;
    width: min-content;
    min-width: 2em;

    svg {
        width: 1em;
        height: 1em;
        margin: auto;
    }
}
