.skills {
    display: flex;
    margin: 2em 0;
    gap: 0.5em;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    .skill {
        background-color: #444;
        border-radius: 4px;
        height: 4em;
        display: flex;
        padding: 0.5em;
        gap: 0.5em;
        // animation: slide 20s linear infinite;
        // &:hover {
        //     animation-play-state: paused;
        // }

        // @keyframes slide {
        //     0% {
        //         left: 0;
        //     }
        //     100% {
        //         left: -100%;
        //     }
        // }

        .skill-icon {
            width: 3em;
            height: 3em;
            margin: auto;
        }
        h3 {
            width: max-content;
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
}
