.heading-container {
    display: flex;
    flex-direction: column;
}

.heading-container h2 {
    margin: 0;
    opacity: 40%;
}
.heading-container h3 {
    margin: 0;
    font-weight: normal;
    margin-bottom: 5em;
}
