* {
    font-family: 'Integral CF', sans-serif;
    color: white;
    -moz-osx-font-smoothing: grayscale; /* Firefox */
    -webkit-font-smoothing: antialiased; /* WebKit  */
    font-smooth: antialiased; /* Safari */
}

@font-face {
    font-family: JetBrains Mono;
    src: url('./assets/fonts/JetBrainsMono-Regular.woff2');
    font-weight: normal;
}
@font-face {
    font-family: JetBrains Italic;
    src: url('./assets/fonts/JetBrainsMono-Italic.woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'Integral CF';
    src: url('./assets/fonts/IntegralCF-Regular.woff');
    font-weight: normal;
}
@font-face {
    font-family: 'Integral CF';
    src: url('./assets/fonts/IntegralCF-Bold.woff');
    font-weight: bold;
}
@font-face {
    font-family: 'Integral CF';
    src: url('./assets/fonts/IntegralCF-Medium.woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Integral CF';
    src: url('./assets/fonts/IntegralCF-RegularOblique.woff');
    font-weight: normal;
    font-style: oblique;
}

:root {
    --purple: #9900ff;
    --ltblue: #00ffff;
    --red: #ff0000;
    --green: #00ff00;
    --pink: #ff00ff;
    --teal: rgb(0, 255, 150);
    --yellow: #ffff00;
    --blue: #0000ff;
    --grey: #1a1a1a;
}

body {
    background-color: var(--grey);
    margin: 0;
}
h2 {
    font-size: 10vw;
    opacity: 25%;
    margin-top: 0;
    font-weight: 500;
}
.overlay {
    rotate: 60deg;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: white;
    opacity: 5%;
    top: 0;
    left: -50em;
    overflow: hidden;
}

p {
    font-family: 'JetBrains Mono';
}
h1 {
    font-family: 'Integral CF', sans-serif;
}

body {
    background: #222;
}

.arrow {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-one {
    animation: arrow-movement 2s ease-in-out infinite;
}
.arrow-two {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: 40vh;
    left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 45%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.content {
    padding: 10vh 5vw;
}

.heading-container {
    display: flex;
    flex-direction: column;
}

.heading-container h2 {
    margin: 0;
}
.heading-container h3 {
    margin: 0;
    font-weight: normal;
    margin-bottom: 5em;
}
.gradient {
    background: linear-gradient(130deg, var(--ltblue) 0%, var(--pink) 100%);
}

footer {
    padding-bottom: 5vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
}
footer p {
    margin: auto;
}

body {
    background: #222;
    font-family: Arial, sans-serif;
    color: #fff;
}

.contact h3 {
    margin-top: 10em;
}
.contact-links {
    display: flex;
    margin: 5em 0;
}
.contact-links a {
    margin: auto;
    transition: background 0.5s ease;
}
.contact-links a:hover {
    transform: translateY(-0.25em);
}
.contact-links a img {
    margin: auto;
    width: 5em;
    height: 5em;
}

.resume {
    font-size: larger;
    text-decoration: none;
    background: white;
    color: var(--grey);
    border-radius: 5px;
    padding: 0.5em 2em;
}

.resume:hover {
    background: var(--teal);
}

/* Styles for the settings popup */

.settings-popup h2 {
    margin: auto;
    margin-bottom: 1em;
    font-size: 1.5rem;
    margin-top: 0.5em;
    position: relative;
    opacity: 100%;
}
/* Styles for the on/off toggle switch */
.form-switch {
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.form-switch i {
    position: relative;
    display: inline-block;
    margin-right: 0.5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}
.form-switch i::before {
    content: '';
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}
.form-switch i::after {
    content: '';
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}
.form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}
.form-switch:active input:checked + i::after {
    transform: translate3d(16px, 2px, 0);
}
.form-switch input {
    display: none;
}
.form-switch input:checked + i {
    background-color: #4bd763;
}
.form-switch input:checked + i::before {
    transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.form-switch input:checked + i::after {
    transform: translate3d(22px, 2px, 0);
}

.radio-toggle input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.radio-toggle label input:checked + span {
    background-color: rgba(255, 255, 255, 0.2);
}

.radio-toggle label span {
    display: flex;
    align-items: center;
    padding: 0.5em 0.75em;
    border-radius: 2em;
    transition: 0.25s ease;
}
.radio-toggle label span:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.radio-toggle {
    margin: auto 3em;
    display: flex;
}
.radio-toggle label {
    display: flex;
}
.radio-toggle h3 {
    margin: auto;
}

.settings-popup form > * {
    margin: 1em auto;
}
.settings-popup {
    position: absolute;
    bottom: 2em;
    right: 2em;
    background: rgba(34, 34, 34, 0.8);
    border-radius: 2em;
    border: 1px solid rgb(0, 255, 255);
    display: none;
    color: #fff;
    font-family: 'Integral CF', sans-serif;
    flex-direction: column;
    padding: 1em;
}
.settings-popup form {
    display: flex;
    flex-direction: column;
}
.credit p {
    font-size: x-small;
    font-style: italic;
    margin: auto;
    text-align: center;
}
.button-label #clearCanvasButton {
    background: none;
    border: 1px solid red;
    border-radius: 2em;
    font-family: 'Integral CF';
    color: red;
    padding: 0.5em 1em;
    font-size: large;
    transition: 0.25s ease;
    margin-left: 1em;
}
.button-label #clearCanvasButton:hover {
    background-color: red;
    color: #222;
}
.button-label #pauseAnimation {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
    cursor: pointer;
    border-radius: 2em;
    margin: auto;
    transition: 0.25s ease;
    width: 2.5em;
    height: 2.5em;
    display: flex;
}
.button-label #pauseAnimation:hover {
    background-color: rgba(255, 255, 255, 0.6);
}
#pauseAnimation img {
    object-fit: cover;
    height: 1.5em;
    margin: auto;
}
.button-label {
    display: flex;
}

.toggle-label {
    display: flex;
}
.settings-close {
    position: absolute;
    top: 0.5em;
    right: 1em;
    font-size: x-large;
    cursor: pointer;
}
.hint {
    opacity: 50%;
}
